# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/HomestayDB

REDISDB_HOST=
REDIS_PORT=10750
REDIS_USERNAME=default
REDIS_PASSWORD=

# Authentication
JWT_SECRET=hamro_home_stay_secure_jwt_secret_key_123
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Upload Settings
UPLOAD_PATH=public/uploads
MAX_UPLOAD_SIZE=5242880 

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/