# ADK Server Configuration
ADK_PORT=8000
ADK_HOST=0.0.0.0

# Google AI API Configuration
GOOGLE_GENAI_USE_VERTEXAI=0
GOOGLE_API_KEY=your-api-key

# MCP Tool Configuration
MCP_HOMESTAY_URL=http://localhost:8080/homestay/mcp  #http://host_where_mcp_tools_running:port_of_mcp/homestay/mcp
MCP_OFFICER_URL=http://localhost:8080/officer/mcp  #http://host_where_mcp_tools_running:port_of_mcp/officer/mcp
